body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #003366;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 0 10px;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-nav .nav-link {
  line-height: 60px;
  font-size: 16px;
}

.navbar-toggler {
  line-height: 60px;
}

.home-section {
  padding: 50px 0;
  background-color: #e3f2fd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-section h1 {
  color: #003366;
  font-size: 36px;
  margin-bottom: 20px;
}

.home-section .lead {
  color: #2f4f4f;
  font-size: 20px;
  margin-bottom: 10px;
}

.home-section .btn-primary {
  background-color: #0066cc;
  border: none;
}

.home-section .btn-primary:hover {
  background-color: #0055aa;
}

.about-container {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container h2 {
  color: #003366;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  color: #2f4f4f;
}

.about-container strong {
  font-size: 20px;
  color: #0066cc;
}

.project-name {
  color: #1E90FF;
  font-weight: bold;
}

.experience {
  color: #32CD32;
  font-weight: bold;
}
